* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-bottom: 1%;
}

.active {
  color: #0563bb;
}

.main {
  display: flex;
}
.main-button {
  font-size: 36px;
  position: fixed;
  top: 1%;
  left: 2%;
  display: none;
  z-index: 1;
  background-color: white;
  padding: 0 12px;
  border-radius: 6px;
}
.main-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.main-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 100vh;
  padding-right: 15px;
  padding-left: 10px;
}
.main-sidebar__wrapper {
  font-size: 18px;
  padding: 14px 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  width: 58px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.main-sidebar__wrapper > span {
  visibility: hidden;
  padding-left: 12%;
}
.main-sidebar__wrapper:hover {
  border-radius: 180px;
  width: 100%;
  background-color: #0563bb;
  color: white;
}
.main-sidebar__wrapper:hover > span {
  visibility: visible;
}
.main-content {
  overflow-x: hidden;
  width: calc(100vw - 160px);
  margin-left: 160px;
}
.main-content__home {
  height: 100vh;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.65)), url("../assets/images/123580466_1286234628377211_5527527341989879238_n.png");
  background-position: center right;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-content__home-textbox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}
.main-content__home-textbox > h1 {
  font-size: 46px;
}
.main-content__home-textbox > p > span {
  color: #0563bb;
}
.main-content__home-textbox > div#social {
  display: flex;
}
.main-content__home-textbox > div#social > a {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.8);
}
.main-content__home-textbox > div#social > a:nth-child(1):hover {
  color: #0563bb;
}
.main-content__home-textbox > div#social > a:nth-child(2):hover {
  color: purple;
}
.main-content__home-textbox > div#social > a:nth-child(3):hover {
  color: red;
}
.main-content__home-textbox > div#social > a:nth-child(4):hover {
  color: rgba(0, 0, 0, 0.5);
}
.main-content__about {
  padding-top: 2%;
}
.main-content__about-wrapper {
  display: flex;
}
.main-content__about-wrapper > div#img > img {
  width: 100%;
}
.main-content__about-wrapper > div#aboutme > h3 {
  color: rgba(0, 0, 0, 0.7);
}
.main-content__skills {
  padding-top: 4%;
}
.main-content__skills-wrapper {
  margin-top: 4%;
}
.main-content__skills-wrapper-list-item-90 {
  position: relative;
  display: flex;
  margin-right: 5%;
  margin-bottom: 2%;
  justify-content: space-between;
}
.main-content__skills-wrapper-list-item-90::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 90%;
  background-color: #0563bb;
  bottom: 0;
}
.main-content__skills-wrapper-list-item-60 {
  position: relative;
  display: flex;
  margin-right: 5%;
  margin-bottom: 2%;
  justify-content: space-between;
}
.main-content__skills-wrapper-list-item-60::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 60%;
  background-color: #0563bb;
  bottom: 0;
}
.main-content__skills-wrapper-list-item-50 {
  position: relative;
  display: flex;
  margin-right: 5%;
  margin-bottom: 2%;
  justify-content: space-between;
}
.main-content__skills-wrapper-list-item-50::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 50%;
  background-color: #0563bb;
  bottom: 0;
}
.main-content__resume {
  padding-top: 4%;
}
.main-content__resume-wrapper {
  padding-top: 2%;
}
.main-content__resume-wrapper-box > h1 {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 2%;
}
.main-content__resume-wrapper-box-item {
  margin-left: 2%;
  padding-left: 4%;
  padding-bottom: 2%;
  position: relative;
}
.main-content__resume-wrapper-box-item > h4 {
  color: #0563bb;
}
.main-content__resume-wrapper-box-item > h5 > span {
  background-color: rgba(5, 99, 187, 0.1);
  display: inline-block;
  padding: 0.5%;
}
.main-content__resume-wrapper-box-item > p {
  font-style: italic;
}
.main-content__resume-wrapper-box-item > ul {
  list-style: disc;
  padding-left: 5%;
  margin-bottom: 0;
}
.main-content__resume-wrapper-box-item::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #0563bb;
  top: 0;
  left: -6.6px;
}
.main-content__resume-wrapper-box-item::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #0563bb;
  left: 0;
  bottom: 0;
}
.main-content__portfolio {
  padding-top: 4%;
}
.main-content__portfolio-wrapper {
  padding-top: 4%;
}
.main-content__portfolio-wrapper-col {
  padding-bottom: 48px;
  overflow: hidden;
}
.main-content__portfolio-wrapper-col > a > img {
  width: 94%;
  margin-bottom: 2%;
  transition: all 0.4s ease-in-out;
}
.main-content__portfolio-wrapper-col > a > img:hover {
  width: 110%;
}
.main-content__portfolio-wrapper-col > span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 90%;
  height: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.main-content__contact {
  padding-top: 4%;
  padding-bottom: 4%;
}
.main-content__contact-wrapper-col > div#contact-info > div {
  display: flex;
  margin-bottom: 36px;
}
.main-content__contact-wrapper-col > div#contact-info > div > span {
  padding: 4px 8px;
}
.main-content__contact-wrapper-col > div#contact-info > div > span > span {
  color: gray;
  display: block;
  font-size: 18px;
  padding-bottom: 6px;
}
.main-content__contact-wrapper-col > div#contact-info i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.03);
  color: #0563bb;
  text-align: center;
  line-height: 50px;
  margin-top: 1.4%;
}
.main-content__contact-wrapper-col > div#contact-info > div:hover i {
  background-color: #0563bb;
  color: white;
  transition: all 0.2s ease-in-out;
}

.content-title {
  text-align: center;
  position: relative;
  padding: 0 0 1%;
}
.content-title::after {
  position: absolute;
  content: "";
  width: 5%;
  height: 2px;
  background-color: #0563bb;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content-title::before {
  position: absolute;
  content: "";
  width: 18%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text-center {
  text-align: center;
  margin: 0 4% 4%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid rgba(5, 99, 187, 0.1);
  background-color: rgba(0, 0, 0, 0.02);
  height: 300px;
}
footer > h3 {
  color: #0563bb;
}
footer > div {
  display: flex;
  justify-content: center;
}
footer > div > a {
  margin: 2% 10%;
}
footer > div > a > i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
}

#scroll-on-top {
  display: none;
  position: fixed;
  bottom: 4%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0563bb;
  color: white !important;
  text-align: center;
}
#scroll-on-top > i {
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
