/* COMMON */
@font-face {
  font-family: "Satisfy";
  src: url(../fonts/satisfy/Satisfy-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: transparent;
  transition: all ease-in-out .2s;
  z-index: 1;
}

header ul.custom_navbar {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

header ul.custom_navbar li {
  margin-right: 16px;
}

header ul.custom_navbar li a {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  user-select: none;
}

header ul.custom_navbar li a.active {
  color: #ffb727;
}

/* SECTION COMMON */
.body_section {
  width: 100%;
}

.body_section .title_cont {
  height: 88px;
}

.body_section .title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.body_section .title_bg {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  user-select: none;
}

/* HOME */
@keyframes up_and_down {
  0% {
    padding-top: 0;
  }

  50% {
    padding-top: 8px;
  }

  100% {
    padding-top: 0;
  }
}

.home_cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.home_cover h2 {
  color: #fff;
  font-size: 64px;
  font-family: "Satisfy", serif;
}

.home_cover p {
  color: #fff;
  text-transform: uppercase;
}

.home_cover .scroll_to_home {
  position: relative;
  width: 100%;
  height: 80px;
}

.home_cover a {
  position: absolute;
  animation: up_and_down 1.6s infinite;
  display: inline-block;
  font-size: 32px;
  color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ABOUT */
.about_cont {
  padding: 48px 0;
  position: relative;
}

.about_cont .avatar {
  width: 100%;
  height: 280px;
  box-shadow: 0px 0px 8px 2px #cccccc;
  border-radius: 4px;
  overflow: hidden;
}

.about_cont .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_cont ul {
  padding-left: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about_cont ul li {
  font-size: 20px;
}

/* RESUME */
.resume_cont {
  padding: 48px 0;
  position: relative;
}

.resume_cont .resume_title {
  text-transform: uppercase;
  padding-bottom: 16px;
}

.resume_cont .resume_item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume_cont .resume_item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}

.resume_cont .resume_item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resume_cont .resume_item ul {
  padding-left: 20px;
  margin-bottom: 0;
}

/* SKILL */
.skill_cont {
  padding: 48px 0;
  position: relative;
  background-color: #282a35;
}

.skill_cont .title,
.skill_cont .title_bg {
  color: #fefefe;
}

.skill_cont .title_bg {
  opacity: 0.05;
}

.skill_slider_item {
  width: 126px;
  height: 126px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill_cont #skill_slider {
  margin-top: 80px;
}

.skill_slider_item img {
  width: auto;
  height: 80px;
  object-fit: contain;
  margin-bottom: 16px;
}

.skill_slider_item p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  color: #fefefe;
  opacity: 0.9;
}

/* PORTFOLIO */
.portfolio_cont {
  padding: 48px 0;
  position: relative;
  display: none;
}

/* CONTACT */
.contact_cont {
  padding: 48px 0;
  position: relative;
}

.contact_cont .custom_box {
  box-shadow: 0px 0px 8px 2px #cccccc;
  border-radius: 4px;
  padding: 36px;
  min-height: 258px;
}

.contact_cont .icon_box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 24px;
  color: #ffb727;
  background-color: #fff6e4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact_cont .custom_box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 16px 0 32px;
  text-align: center;
}

.contact_cont .custom_box .social_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_cont .custom_box a.social {
  font-size: 18px;
  display: inline-block;
  color: #687683;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #dde1e4;
}

/* FOOTER */
footer {
  background-color: #282a35;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 16px;
  color: #fefefe;
}

.back_to_top {
  position: fixed;
  bottom: 24px;
  right: -240px;
  background-color: #ffb727;
  color: #fefefe !important;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all ease-in-out .2s;
}
