@font-face {
    src: url(../assets/fonts/Pacifico/Pacifico-Regular.ttf);
    font-family: 'Pacifilo Regular';
}

a {
    text-decoration: none;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    background-color: #2f2f2f;
}

header>.container {
    max-width: 900px;
    width: 100%;
    height: 104px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>.container>.logo>h1>a {
    font-size: 45px;
    font-family: 'Pacifilo Regular';
    color: white;
}

header>.container>nav>ul {
    display: flex;
}

header>.container>nav>ul>li>a {
    color: white;
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    outline: none;
}

/* Section */

.lorem {
    background-color: #f1f1f1;
}

.lorem>.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lorem>.container>.text>h1 {
    font-size: 26px;
    font-weight: bold;
}

.lorem>.container>.text>.paragraph {
    font-size: 14px;
    color: #878787;
    margin: 25px 0 50px;
    padding-right: 30px;
}

.lorem>.container>.text>.paragraph>p:first-child {
    margin-bottom: 20px;
}

.learnmore {
    display: inline-block;
    padding: 8px 28px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #f99640;
    border-radius: 8px;
}

.lorem>.container>.img>img {
    height: 100%;
}

/* Content section */

.content>.container {
    max-width: 900px;
    width: 100%;
    margin: 65px auto 73px;
}

.content>.container>h1 {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
}

.content>.container>.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content>.container>.wrap>.wrap-item {
    width: calc((100% - (55px * 2)) / 3);
}

.wrap-item>.img {
    width: 264px;
    height: 195px;
    background-color: #2f2f2f;
    margin-bottom: 16px;
}

.wrap-item>h2 {
    font-size: 18px;
    font-weight: bold;
}

.wrap-item>p {
    font-size: 14px;
    margin: 19px 0 24px;
    color: #747474;
}

.last {
    background-color: #2f2f2f;
}

.last>.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 74px 0 60px;
}

.lastest-post {
    width: 275px;
}

.lastest-post>h1 {
    font-size: 21px;
    color: white;
    margin-bottom: 28px;
}

.lastest-post>.row {
    display: flex;
    margin-bottom: 14px;
}

.calender {
    background-color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    padding: 6px;
    margin-right: 15px;
}

.calender>.m {
    font-size: 12.18px;
    color: #2f2f2f;
}

.calender>.d {
    font-size: 18.27px;
    font-weight: bold;
    color: #000000;
}

.lastest-post>.row>.text>h3 {
    color: white;
    font-weight: bold;
    font-size: 14.47px;
    padding-bottom: 12px;
}

.lastest-post>.row>.text>p {
    color: #acacac;
    font-size: 12.18px;
}

.about {
    width: 348px;
}

.about>h1 {
    font-size: 21px;
    color: white;
    margin-bottom: 28px;
}

.about>p {
    font-size: 12px;
    color: #acacac;
}

.stay-connected {
    width: 140px;
}

.stay-connected>h1 {
    font-size: 21px;
    color: white;
    margin-bottom: 28px;
}

.stay-connected>.row {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.stay-connected>.row>p {
    margin-left: 20px;
    color: white;
}

.blue {
    display: inline-block;
    background-color: #5d77c1;
    border-radius: 2px;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.l-blue {
    display: inline-block;
    background-color: #3e94d7;
    border-radius: 2px;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.orange {
    display: inline-block;
    background-color: #f99640;
    border-radius: 2px;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.red {
    display: inline-block;
    background-color: #da503c;
    border-radius: 2px;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

/* FOOTER */
footer>.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #5a6061;
    padding: 27px 0;
}